body {
    padding-top: 50px;
    padding-bottom: 20px;
    min-height: 800px;
    font-family: Roboto;
    /*Nice gradient background*/
    background-image: url("http://wallpaperest.com/wallpapers/gray-wood-pattern-ipad_094371.jpg");
      
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #DF4A3B;
    color: black;
    min-height: 300px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

h1 {
    font-family: Fjalla One;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.heading {
    text-align: center;
    color: whitesmoke;
    font-size: 50px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 200px;
    text-align: left;
}
.edittable {
    font-family: Montserrat;
    margin-left: 30%;
    
    
}


#menu {
    height: 600px;
    overflow: hidden;
    overflow-y: scroll;
    border-style: solid;
    color: whitesmoke;
    border-width: 0;
    border-color: black;
    background-color: #222;
    margin: 40px 0 50px 30px ;
}

 #menu img {
     float: right;
 }

 #menu p {
     padding-top: 20px;
     padding-left: 20px;
     font-size: 16px;
     font-family: Montserrat;
 }

#col3 {
    float:right;
    height:600px; width:40%;
    overflow:hidden; overflow-y:scroll;
    border-style: solid;
    color: whitesmoke;
    border-width: 1px;
    border-color: black;
    background-color: black;

}

#form {
    margin: 0 auto;
    width: 200px;
    display: block;
}

#form p {
    margin-top: 20px;
    font-size: 18px;
}

tbody::-webkit-scrollbar { 
    display: none; 
}

.table tbody {
    
    float:left;
    height:500px; width:40%;
    overflow:hidden; 
   
    
    border-style: solid;
    color: black;
    border-width: 2px;
    border-color: black;
    background-color: whitesmoke;
}

.pic {
    float: right;
}

.menulist {
    border-width: 0 2px 2px 2px;
    border-style: solid;
    border-color: lightgrey;
}

menu ul {
    border-color: #ccc;
}

.menulist:first-of-type {
        border-top-width: 2px;
}

.navbar {
    font-family: Montserrat;
}

ul {
    list-style-type: none;
    padding-left: 0;  
}

ul li {
    position: relative; 
}

.pure-table-bordered {
    margin: 0 auto;
    width: 50%;
}

#OrderTable {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 50px;
    font-family: Montserrat;
}

#OrderTable td {
    background-color: whitesmoke;
}

#column-left {
    padding-right: 35px;
}

#column-left h2 {
    text-align: center;
    color: whitesmoke;
    font-family: Montserrat;
}

#column-right {
    padding-left: 35px;
}

#column-right h2 {
    text-align: center;
    color: whitesmoke;
    font-family: Montserrat;
}

#column-right p {
    font-size: 18px;
    margin-top: 40px;
    color: whitesmoke;
}

#order {
    margin-top: 50px;
    text-align: center;
}

#logo {
    margin-left: -100px;
    margin-top: -20px;
    height: 150px;
}

footer {
    font-family: Montserrat;
    text-align: center;
    color: whitesmoke;
}

.order-table {
    font-family: Montserrat;
}

#orderedby {
    text-align: center;
    color: whitesmoke;
}

#foodname {
    font-size: 25px;
    text-decoration: underline;
}

#aroytable {
    position: relative;
}

#updatebutton {
    padding-left: 500px;
    font-family: Montserrat;
}

.aroymenu {
    padding-right: 40px;
}


.pure-u-1-2  #menu #hi {
    color: whitesmoke;
    margin-left: -20px;
    margin-top: -10px;
    font-size: 15px;
    text-decoration: underline;
}
