body {
    padding-top: 50px;
    padding-bottom: 20px;
    min-height: 800px;
    font-family: Roboto;
    /*Nice gradient background*/
    background: -webkit-linear-gradient(90deg, #000000 10%, #e74c3c 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #000000 10%, #e74c3c 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #000000 10%, #e74c3c 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #000000 10%, #e74c3c 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #000000 10%, #e74c3c 90%); /* W3C */   
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffffff;
    background-color: rgba(255,255,255, 0.3);
    color: black;
    height: 900px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 200px;
    text-align: left;
}


div #col1 {
    float: left;
    height: 600px;
    width: 40%;
    overflow: hidden;
    overflow-y: scroll;
    border-style: solid;
    color: white;
    border-width: 1px;
    border-color: black;
    background-color: black;
    /*text-decoration: none;
    list-style-type: none;*/
}
div #col3 {
    float:right;
    height:600px; width:40%;
    overflow:hidden; overflow-y:scroll;
    border-style: solid;
    color: white;
    border-width: 1px;
    border-color: black;
    background-color: black;

}

div #col2 {
    float: right;
    margin: 0 1.5%;
    width: 30%;
}

.table tbody {
    
    float:left;
    height:500px; width:40%;
    overflow:hidden; overflow-y:scroll;
    border-style: solid;
    color: white;
    border-width: 1px;
    border-color: black;
    background-color: black;
}

.pic {
    float: right;
}

.menulist {
    border-width: 0 2px 2px 2px;
    border-style: solid;
    border-color: lightgrey;
}

.menulist:first-of-type {
        border-top-width: 2px;
}

.navbar {
    font-family: Lobster;
}

ul {
    list-style-type: none;
    padding-left: 0;
    
}

ul li {
    position: relative;
    
}

.pure-table-bordered {
    margin: 0 auto;
    width: 50%;
}

#OrderTable {
    margin: 0 auto;
    width: 100%;
}

#OrderTable td {
    background-color: whitesmoke;
}