<<<<<<< HEAD
﻿@{
    ViewBag.Title = "Home Page";
}
<<<<<<< HEAD


<div id="menulist"></div>
=======
=======
﻿
>>>>>>> 3464d3000422eb942e1051ac020b92b975137ad3
>>>>>>> 8e62f0d6b3d7d047f35b143b870c6cc634b25902
