@using System.ServiceModel.Description
@model IEnumerable<DinnerPartyRoa.Models.MenuItem>


@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/css")

<h1 class="heading">DEValicious</h1>
<hr />

    <div class="pure-g" ng-controller="ListCtrl">
        <div class="pure-u-1-2" id="column-left">


            <h2>Aroy Menu</h2>
            Search: <input ng-model="query">
            <div id="menu">
                <ul class="meals">
                    <li ng-repeat="meal in meals | filter:query" class="pure-g" ng-click="menulist(meal)">
                        <div class=" pure-u-3-4" data-menuitemid="{{meal.Id}}">
                            <span>{{meal.Title}}</span>
                        </div>
                        <div class="pure-u-1-4">
                            <img ng-src='/images/food/{{meal.Id}}' />
                        </div>
                    </li>
                </ul>
            </div>
            </div>
            <div class="pure-u-1-2" id="column-right">
                <div>
                    <h2>Welcome To The Party!</h2>
                    <p>
                        Hi and welcome to our wonderful app we created to help with the end of phase parties. First off, if your a current student,
                        Congratulations on finishing your current phase. If your a returning student then welcome back to EDA and we hope you enjoy your night.
                    </p>
                    <p>
                        To use our application, simply click on the menu item you wish to order below, enter in your name into the form beside it.
                        Don't worry if you do not have a GitHub username, simply ask your partner for theirs
                    </p>

                </div>

                <div>
                    <div id="order">
                        <h2>Order Details</h2>
                        <div id="form">
                            <form>
                                <p>Hi, your current order is</p>
                                <input ng-model="meal.Title" ng-value="meal.Title" id="currentorder" type="text" name="Item" value="Your Meal" readonly>
                                <input type="hidden" id="currentorderid" />
                                <p>Name</p>
                                <input ng-model="user" ng-value="user" id="currentuser" type="text" name="User" style="color: black;">
                                <br />
                                <button ng-click="submit()" id="submitbutton" type="submit">Submit Order</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>