@using DinnerPartyRoa.Models
@model YetAnotherViewModel

<div id="OrderTable">

    <div>
        <br />
        <table class="pure-table pure-table-bordered">
            <thead>
                <tr>
                    <th>Quantity</th>
                    <th>Item</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var order in Model.data)
                {
                    <tr>
                        <td>@order.Quantity</td>
                        <td>@order.ItemName</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

    <hr />
    <div style="float:right">

        @foreach (var keyvalue in Model.dictionaryOfUserOrders)
        {

            <h4>@keyvalue.Key</h4>
            foreach (var username in keyvalue.Value)
            {
                <p> @username   </p>
            }
        }

    </div>
</div>