@using DinnerPartyRoa.Models
@model YetAnotherViewModel

<div id="OrderTable">
    <div>
    <table id="Orders">
        @foreach (var order in Model.data)
        {
            <tr>
                <td>@order.Quantity</td>
                <td>@order.ItemName</td>
            </tr>
        }
    </table>
        </div>

    <hr/>
    <div style="float:right">
        
        @foreach (var keyvalue in Model.dictionaryOfUserOrders)
        {
            
            <h4>@keyvalue.Key</h4>
            foreach (var username in keyvalue.Value)
            {
                <p> @username   </p>
            }




        }

        </div>
</div>