@using DinnerPartyRoa.Models
@model YetAnotherViewModel
<h1 class="heading">Order Summary</h1>
<div id="OrderTable">
    <hr/>
    <div>
        <br />
        <table class="pure-table pure-table-bordered">
            <thead>
                <tr>
                    <th>Quantity</th>
                    <th>Item</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var order in Model.data)
                {
                    <tr>
                        <td>@order.Quantity</td>
                        <td>@order.ItemName</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

    <hr/>
    <div id="orderedby">
        <div>

            @foreach (var keyvalue in Model.dictionaryOfUserOrders)
            {

                <h4 id ="foodname">@keyvalue.Key</h4>
                foreach (var username in keyvalue.Value)
                {
                    <p> @username </p>
                }
            }

        </div>
    </div>
</div>