@using DinnerPartyRoa.Models
@model IEnumerable<GroupedOrderViewModel>

<div id="OrderTable">
    <br/>
    <table class="pure-table pure-table-bordered">
        <thead>
        <tr>
            <th>Quantity</th>
            <th>Item</th>
        </tr>
        </thead>

        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.Quantity</td>
                    <td>@order.ItemName</td>
                </tr>
            }
        </tbody>
    </table>
</div>