@model DinnerPartyRoa.Models.ScrapperMenuViewModel
<h1 class="heading">Administration</h1>
<div id="updatebutton">
    @using (Html.BeginForm("Update", "Update"))
    {
        <button type="submit">Update Menu</button>
    }
</div>
<hr />

<div class="pure-g">
    <div class="pure-u-1-2" id="column-left">
        <h2>Current Menu</h2>
        <div id="menu">

            <div id="col1">

                @foreach (var item in Model.DatabaseMenu)
                {
                    <div class="left">@Html.DisplayFor(modelItem => item.Title)</div>
                }
            </div>
        </div>
    </div>

    <div class="pure-u-1-2 aroymenu" id="column-right">
        <h2>Aroy Menu</h2>
        <div id="menu">


            @if (Model.ItemsAddedByArroySite == null && Model.ItemsDeletedByArroySite == null)
            {
                <div>
                    <h2>Updated</h2>
                </div>
            }
            else
            {
                <div id="column-right">
                    <h3> Items recently added to Aroy website:</h3>
                    @if (Model.ItemsAddedByArroySite != null && Model.ItemsAddedByArroySite.Any())
                    {
                        foreach (var item in Model.ItemsAddedByArroySite)
                        {
                            <div class="left">@Html.DisplayFor(modelItem => item.Title)</div>
                        }
                    }
                    else
                    {
                        <p id ="hi">No updates from ArroySite</p>
                    }

                </div>


                <div id="column-right">
                    <h3>Items removed from Aroy, but still in database:</h3>
                    @if (Model.ItemsDeletedByArroySite != null && Model.ItemsDeletedByArroySite.Any())
                    {

                        foreach (var item in Model.ItemsDeletedByArroySite)
                        {
                            <div class="left">@Html.DisplayFor(modelItem => item.Title)</div>
                        }
                    }
                    else
                    {
                        <p id ="hi">Database does not have items deleted from arroy site...</p>
                    }
                </div>
            }
        </div>
    </div>

</div>
